.custom-navbar {
    background: linear-gradient(90deg, #4e8df5, #e7389e); /* use una gradient para el color de fondo */
    font-size: 20px; 
  }
  
  .custom-brand {
    color: #fff; 
    font-weight: bold; 
  }
  
  .custom-link {
    color: #fff; 
    padding: 15px 20px; 
  }
  
  .custom-link:hover {
    color: #ffcc00; 
  }
  
  .custom-icon {
    color: #fff; 
    font-size: 24px; 
  }
  
  .cart-count {
    background-color: #ffcc00; 
    color: #282c34; 
    border-radius: 50%; 
    padding: 5px 8px; 
    font-size: 14px; 
  }
  