.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px; 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.2); 
}



.card-title {
    color: #007bff; 
}

.card-footer {
    background-color: rgba(0,0,0,0.05); 
}

.btn-primary {
    background-color: #e24358; 
    border: none; 
}

.btn-primary:hover {
    background-color: rgb(148, 0, 0); 
}


.original-price {
    text-decoration: line-through;
    color: #6c757d; 
  }
  
  .discounted-price {
    color: red; 
  }
  
  .current-price {
    color: #212529; 
  
  }